@using Microsoft.AspNetCore.Identity 
@using WebApplication.Extensions

@inject SignInManager<DAL.Models.ApplicationUser> SignInManager
@inject UserManager<DAL.Models.ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" m-dropdown-toggle="click">
        <a href="#" class="m-nav__link m-dropdown__toggle">
            <span class="m-topbar__username">
                @User.GetFullName()
            </span>
            &nbsp;
            <span class="m-topbar__userpic">
                <img src="~/images/demo/user.png" class="m--img-rounded m--marginless m--img-centered" alt="" />
            </span>
            @*<span class="m-topbar__username m--hide">
                    @User.GetFullName()
                </span>*@
        </a>
        <div class="m-dropdown__wrapper">
            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
            <div class="m-dropdown__inner">
                <div class="m-dropdown__header m--align-center" style="background: url(/images/demo/user_profile_bg.jpg); background-size: cover;">
                    <div class="m-card-user m-card-user--skin-dark">
                        <div class="m-card-user__pic">
                            <img src="~/images/demo/user.png" class="m--img-rounded m--marginless" alt="" />
                        </div>
                        <div class="m-card-user__details">
                            <span class="m-card-user__name m--font-weight-500">
                                @User.GetFullName()
                            </span>
                            <a href="" class="m-card-user__email m--font-weight-300 m-link">
                                @User.GetEmail()
                            </a>
                        </div>
                    </div>
                </div>
                <div class="m-dropdown__body">
                    <div class="m-dropdown__content">
                        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                            <ul class="m-nav m-nav--skin-light">
                                <li class="m-nav__item">
                                    <a asp-controller="Profile" asp-action="Index" class="m-nav__link">
                                        <i class="m-nav__link-icon flaticon-profile-1"></i>
                                        <span class="m-nav__link-text">
                                            Mi Perfil
                                        </span>
                                    </a>
                                </li>
                                <li class="m-nav__separator m-nav__separator--fit"></li>
                                <li class="m-nav__item">
                                    <button type="submit" class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">
                                        Cerrar Sesi&oacute;n
                                    </button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </li>
}
