@using WebApplication.ViewModels
@{
    ViewBag.Title = "Gestión de Atletas";
    ViewBag.SubTitle = "Listado de Atletas";
    ViewBag.Breadcrumbs = new[] {
    new BreadcrumbViewData { Name = ViewBag.Title, Controller = null, Action = null }
};
}

<style>
    .dz-upload {
        display: block;
        background-color: darkblue;
        height: 10px;
        width: 0%;
    }
</style>



<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        @ViewBag.SubTitle
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row">
                            <div class="form-group m-form__group col-xl-4">
                                <label>&emsp;</label>
                                <div class="m-input m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input m-input--pill m-input--solid" placeholder="Buscar..." id="search">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                        <a href="@Url.Action("Add","Athlete")" class="btn btn-primary m-btn m-btn--air m-btn--icon btn-add">
                            <span>
                                <i class="la la-plus"></i>
                                <span>Nuevo Atleta</span>
                            </span>
                        </a>
                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                    </div>
                    <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                    </div>
                </div>
            </div>
            <div class="m-datatable" id="ajax_data"></div>
        </div>
    </div>
</div>
 
<div class="modal fade" id="m_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Importar de Excel
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="UploadExcel" class="m-form" id="formupload">
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12">Archivo</label>
                        <div class="col-lg-9 col-md-12 col-sm-12">
                            <div class="m-dropzone dropzone m-dropzone--primary dz-clickable" action="/admin/alumnos/subirexcel" id="m-drop-one" style="height: 50vh;">
                                <div class="m-dropzone__msg dz-message needsclick">
                                    <h3 class="m-dropzone__msg-title">Arrastra tu archivo aquí o haz click para Examinar.</h3>
                                    <span class="m-dropzone__msg-desc">Solo archivos .xlsx y .xls son permitidos.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnupload" disabled>Subir</button>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->
<!-- Upload preview template begin -->
<div id="preview-template" style="display: none;">
    <div class="dz-preview dz-file-preview" style="display:inline-block;margin:10px;">
        <div class="dz-details">
            <div class="dz-size" data-dz-size></div>
            <div class="dz-filename label label-primary">
                <span data-dz-name></span>
            </div>
            <img data-dz-thumbnail />
        </div>

        <div class="dz-error-message label label-danger" style="display:none;clear:both;">
            <span data-dz-errormessage></span>
        </div>
        <div data-dz-remove class="btn btn-default removePicFromAlbum" title="Entfernen">
            <span class="glyphicon glyphicon-remove center-block" aria-hidden="true">Remove file</span>
        </div>
        <br />
        <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="width:100px;">
            <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
        </div>
    </div>
</div>
<!-- Upload preview template end -->
@section Scripts {

    <script src="~/js/areas/admin/athlete/index.js"></script>
    <script src="~/js/jquery-ajax-unobtrusive.min.js"></script>
    <script src="~/js/areas/admin/athlete/add.js"></script>
}